.mi__wrap {
    display: block;
    position: relative;
    padding-top: var(--spacer-sections)
}

@media(max-width: 63.9375rem) {
    .mi__wrap {
        margin:0 var(--spacer-4)
    }
}

@media(min-width: 64rem) {
    .mi__wrap {
        width:100%;
        margin: 0 auto;
        max-width: 1200px;
        width: 80%
    }
}

.mi__wrap .section-title h2,.mi__wrap .section-title p {
    padding: 0
}

.mi_modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    visibility: hidden;
    opacity: 0
}

.mi_modal__close {
    position: absolute;
    top: -60px;
    right: 0;
    z-index: 15
}

@media(min-width: 64rem) {
    .mi_modal__close {
        top:0;
        right: -60px
    }
}

.mi_modal__content {
    position: relative;
    width: calc(100% - 40px);
    background-color: #1d1d1d;
    padding: 12px;
    border-radius: 12px;
    z-index: 2;
    transition: transform calc(1s*var(--motion)) cubic-bezier(0.19, 1, 0.22, 1)
}

@media(min-width: 43.75rem) {
    .mi_modal__content {
        width:70%;
        min-width: 500px;
        max-width: 1300px
    }
}

.mi_modal__content>div {
    padding-bottom: 56.2%;
    position: relative
}

.mi_modal__content>div .mi_mask__iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.mi_modal__blurry-background {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

@supports((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .mi_modal__blurry-background {
        -webkit-backdrop-filter:blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0,0,0,.5)
    }
}

.mi_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative
}

.mi_info {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: .375rem
}

.mi_label {
    font-size: 16px;
    color: var(--text-light);
    line-height: 150%;
    letter-spacing: -0.01em
}

@media(min-width: 43.75rem) {
    .mi_label {
        font-size:18px
    }
}

.mi_text {
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #e8eaed;
    margin-top: 0
}

.mi_mask {
    position: relative;
    --round: 24px;
    --offset: 20%;
    display: flex;
    padding-bottom: 70%;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: var(--round);
    overflow: hidden
}

@media(min-width: 43.75rem) {
    .mi_mask {
        padding-bottom:56%
    }
}

.mi_mask .js-scale,.mi_mask .js-scale-inner {
    border-radius: var(--round);
    overflow: hidden
}

.mi_asset {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.mi_asset img,.mi_asset video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.mi_asset .mi_button,.mi_asset .mi_button-fallback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    border: none;
    background: rgba(0,0,0,0)
}

.mi_asset .mi_button[aria-hidden=true],.mi_asset .mi_button-fallback[aria-hidden=true] {
    display: none;
    visibility: hidden
}

.mi_asset .mi_button:focus-visible,.mi_asset .mi_button-fallback:focus-visible {
    outline: none
}

.mi_asset .mi_button:focus-visible::after,.mi_asset .mi_button-fallback:focus-visible::after {
    position: absolute;
    content: "";
    height: 71px;
    width: 71px;
    border-radius: 50%;
    background: none;
    outline: 2px solid #fff;
    outline-offset: 2px
}
