.section-slider {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: var(--spacer-sections) 0 var(--spacer-sections)
}

.slider {
    --arrow-margin: 20px;
    display: grid;
    gap: 0;
    position: relative;
    margin: 0 var(--spacer-2)
}

@media(min-width: 43.75rem) {
    .slider {
        gap:110px
    }
}

@media(min-width: 78.125rem) {
    .slider {
        gap:0
    }
}

@media(min-width: 100rem) {
    .slider {
        --arrow-margin: 122px;
        width: 100%;
        margin: 0 auto;
        max-width: 1496px
    }
}

.slider .sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0
}

.slider .dots {
    display: flex;
    gap: 5px;
    z-index: 3
}

@media(min-width: 78.125rem) {
    .slider .dots {
        align-self:flex-end;
        margin-bottom: -145px
    }
}

.slider .dots>div {
    --progress: 0;
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background: rgba(255,255,255,.4);
    cursor: pointer;
    overflow: hidden;
    transition: width calc(.6s*var(--motion)) cubic-bezier(0.19, 1, 0.22, 1)
}

.slider .dots>div.current {
    width: 38px
}

.slider .dots>div.current:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(252deg, #076eff -72.3%, #4fabff -1.3%, #b1c5ff 63.69%, #ffddb7 115.43%, #ffb7b7 158.76%);
    transform: translate3d(calc((var(--progress) - 1) * 100%), 0, 0)
}

.slider .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    width: 280px;
    margin: 0 auto;
    z-index: 20
}

.slider .controls>* {
    pointer-events: all
}

@media(min-width: 78.125rem) {
    .slider .controls {
        grid-area:1/1/1/1;
        height: 100%;
        width: 100%
    }
}

.slider .arrow {
    display: grid;
    place-items: center;
    z-index: 3;
    background: rgba(0,0,0,0);
    border: none;
    border-radius: 50%;
    cursor: pointer
}

.slider .arrow:focus-visible {
    outline: none
}

.slider .arrow:focus-visible::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2.875rem;
    width: 2.875rem;
    border-radius: 50%;
    background: none;
    z-index: 10;
    outline: 2px solid #fff;
    outline-offset: 2px
}

.slider .arrow--left {
    left: var(--arrow-margin)
}

.slider .arrow--right {
    right: var(--arrow-margin)
}

.slider .arrow>svg {
    pointer-events: none;
    display: block;
    grid-area: 1/1/1/1
}

.slider .arrow>span {
    grid-area: 1/1/1/1;
    display: flex;
    align-items: center;
    justify-content: center
}

.slider .arrow>span>svg {
    width: 15px;
    height: 15px
}

.slider .slides {
    grid-area: 1/1/1/1;
    position: relative;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr
}

.slider #context {
    display: none
}

.slider .slide {
    grid-row: 1/span 1;
    grid-column: 1/span 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden
}

@media(min-width: 43.75rem) {
    .slider .slide {
        max-width:960px
    }
}

@media(min-width: 100rem) {
    .slider .slide {
        max-width:1200px
    }
}

.slider .slide .header {
    min-height: 60px
}

@media screen and (max-width: 700px)and (orientation: landscape) {
    .slider .slide .header {
        min-height:140px
    }
}

@media(min-width: 43.75rem) {
    .slider .slide .header {
        min-height:140px
    }
}

@media(min-width: 64rem) {
    .slider .slide .header {
        min-height:auto
    }
}

.slider .slide>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

@media(min-width: 43.75rem) {
    .slider .slide>div {
        gap:20px
    }
}

@media(min-width: 64rem) {
    .slider .slide>div {
        flex-direction:row;
        gap: 90px
    }
}

.slider .slide-header {
    position: relative
}

.slider .title {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 4px;
    column-gap: 4px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    max-width: 240px;
    margin: 0 auto
}

@media screen and (max-width: 700px)and (orientation: landscape) {
    .slider .title {
        max-width:70%
    }
}

@media(min-width: 43.75rem) {
    .slider .title {
        font-size:36px;
        -moz-column-gap: 7px;
        column-gap: 7px;
        max-width: 70%
    }
}

@media(min-width: 64rem) {
    .slider .title {
        justify-content:flex-start;
        -moz-column-gap: 7px;
        column-gap: 7px;
        max-width: 100%
    }
}

@media(min-width: 100rem) {
    .slider .title {
        -moz-column-gap:10px;
        column-gap: 10px;
        max-width: 320px
    }
}

.slider .title span {
    display: inline-block;
    line-height: 1.2
}

.slider .item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px
}

@media(min-width: 43.75rem) {
    .slider .item {
        align-items:center;
        gap: 20px
    }
}

.slider .item>svg {
    width: 19px;
    height: auto;
    margin-top: 90px
}

@media(min-width: 43.75rem) {
    .slider .item>svg {
        width:30px;
        margin-top: 0
    }
}

.slider .input {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.slider .input>span {
    color: #888d93;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: .1px;
    text-align: center;
    background-color: #060606;
    visibility: visible;
    min-height: 14px
}

@media(min-width: 43.75rem) {
    .slider .input>span {
        font-size:16px;
        letter-spacing: .16px
    }
}

.slider .box {
    --box-size: 125px;
    position: relative;
    flex-shrink: 0;
    width: var(--box-size);
    height: var(--box-size);
    border-radius: 12px;
    overflow: hidden
}

@media screen and (min-width: 380px) {
    .slider .box {
        --box-size: 140px
    }
}

@media screen and (min-width: 420px) {
    .slider .box {
        --box-size: 170px
    }
}

@media(min-width: 43.75rem) {
    .slider .box {
        --box-size: 241px
    }
}

.slider .box .inner {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px
}

.slider .box img,.slider .box video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.slider .box .text {
    --margin: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: var(--margin);
    left: var(--margin);
    right: var(--margin);
    min-height: 37px;
    width: calc(100% - var(--margin)*2);
    margin: auto;
    padding: 10px;
    gap: 5px;
    border-radius: 20px;
    background: rgba(252,248,240,.5);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    color: #060606
}

@media screen and (min-width: 420px) {
    .slider .box .text {
        --margin: 15px
    }
}

@media(min-width: 43.75rem) {
    .slider .box .text {
        --margin: 20px;
        min-height: 60px
    }
}

.slider .box .text .speech {
    display: flex;
    flex-direction: row;
    width: -moz-max-content;
    width: max-content;
    gap: .2em;
    text-align: center;
    color: #000
}

.slider .box .text .speech span {
    display: inline-block
}

.slider .box .text>p {
    text-align: center;
    font-size: 9px;
    font-weight: 500;
    line-height: normal;
    font-style: italic
}

@media(min-width: 43.75rem) {
    .slider .box .text>p {
        font-size:15px
    }
}

.slider .box .text>svg {
    display: block;
    width: 100%;
    height: auto
}

.slider .output {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: -moz-fit-content;
    height: fit-content
}

@media(min-width: 43.75rem) {
    .slider .output {
        height:300px;
        margin-top: 0
    }
}

.slider .output>span {
    display: block;
    background: #060606
}

.slider .output>span>span {
    display: block;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: .1px;
    text-align: center;
    background: linear-gradient(96deg, #076eff 0%, #4fabff 28.57%, #b1c5ff 59.29%, #ffddb7 101.33%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0)
}

@media(min-width: 43.75rem) {
    .slider .output>span>span {
        font-size:16px;
        letter-spacing: .16px
    }
}

.slider .output>div {
    position: relative
}

.slider .output>div::after {
    content: "";
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: 85%;
    flex-shrink: 0;
    --start: 40%;
    background: linear-gradient(0deg, #060606 var(--start), rgba(0, 0, 0, 0) 97.86%)
}

@media(min-width: 43.75rem) {
    .slider .output>div::after {
        --start: 40%;
        height: 60%
    }
}

.slider .output>div>svg {
    display: block;
    width: 145px;
    height: auto
}

@media screen and (min-width: 380px) {
    .slider .output>div>svg {
        width:160px
    }
}

@media screen and (min-width: 420px) {
    .slider .output>div>svg {
        width:190px
    }
}

@media(min-width: 43.75rem) {
    .slider .output>div>svg {
        width:274px
    }
}

.slider .output>div>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden
}

@media(min-width: 43.75rem) {
    .slider .output>div>div {
        gap:10px;
        padding: 17px
    }
}

.slider .output>div>div.padding {
    padding: 12px
}

@media screen and (min-width: 420px) {
    .slider .output>div>div.padding {
        padding:18px
    }
}

@media(min-width: 43.75rem) {
    .slider .output>div>div.padding {
        padding:22px
    }
}

.slider .output>div>div>span,.slider .output>div>div>p {
    display: block;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

@media(min-width: 43.75rem) {
    .slider .output>div>div>span,.slider .output>div>div>p {
        font-size:15px
    }
}

.slider .output>div>div>p {
    padding: 10px
}

.slider .output>div>div>p+p {
    margin-top: -10px
}

.slider .output>div>div>img,.slider .output>div>div>video {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 9px;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover
}

.slider .output>div>div>pre {
    position: relative;
    overflow: hidden;
    padding: 10px;
    background: #222;
    border: none;
    border-radius: 7px;
    font-family: "Space Mono";
    font-size: 5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

@media(min-width: 43.75rem) {
    .slider .output>div>div>pre {
        font-size:8px
    }
}

.no-js .slider {
    margin: var(--spacer-8) var(--spacer-3)
}

.no-js .slider .arrow {
    display: none
}

.no-js .slider .slides {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-4)
}

.no-js .slider .slide {
    position: relative;
    opacity: 1;
    visibility: visible
}
