.title-gradient {
    position: relative;
    display: block;
    width: 100%;
    padding: var(--spacer-sections) 0 75px
}

.title-gradient--large {
    padding: var(--spacer-sections) 0 125px
}

@media(min-width: 64rem) {
    .title-gradient--large .title-gradient__title {
        font-size:min(max(48px,5.556vw),80px);
        line-height: 115%;
        letter-spacing: -0.8px
    }
}

.title-gradient__sticky {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacer-6);
    width: 100%;
    padding: 0 var(--spacer-grid-mobile)
}

.title-gradient__title {
    max-width: 1105px;
    color: #fff;
    text-align: center;
    font-style: normal
}

.title-gradient__gradient {
    background-color: #fff;
    background-image: linear-gradient(45deg, #4b97f3, #a8bdea);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    -moz-background-clip: text;
    -moz-text-fill-color: rgba(0,0,0,0)
}
